<div class="row bg-primary my-header">
  <!--<div ng-hide="hide">-->
  <div class="col-md-6 my-navbar">

    <div ng-repeat="navItem in items track by $index">

      <div ng-if="singleItem(navItem.items)" class="my-navbar-item">
        <a ui-sref={{navItem.items[0].state}}>{{navItem.items[0].name}}</a>
      </div>

      <div ng-if="ddItem(navItem.items)" class="my-navbar-item">
        <div class="dropdown" dropdown>
          <a href class="dropdown-toggle" dropdown-toggle>
            {{navItem.items[0].name}}<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li ng-repeat="subItem in navItem.items">
              <a ng-if="!$first" ui-sref={{subItem.state}}>{{subItem.name}}</a>
            </li>
          </ul>
        </div>
      </div>

    </div>

  </div>

  <div class="col-md-5 text-right my-navbar-item">
    {{username}}
  </div>

  <div class="col-md-1 text-right my-navbar-btn">
    <button class="btn btn-default" ng-click="exit()">Выход</button>
  </div>
</div>
